<!-- Start: Hacer comentarios -->
		<% if user_signed_in? %>
		 <%= form_with(model: [ @posting, @posting.comments.build],local: true) do |f| %> <!-- arreglar esto -->

			 <div class="form-group">
			 	<%= f.text_area :body, class: "form-control", placeholder: "" %>	
			 </div>

			 <div class="">
			 	<%= f.submit "Comentar", class: "btn btn-primary btn-lg" %>
			 </div>

		 <% end %>
		<% end %>
		<!-- End: Hacer comentarios -->